{% for zone in config.zones %}
### {{ zone.heating_zone_friendly_name }}
{{ zone.heating_zone_entity_name }}_event_name:
  name: {{ zone.heating_zone_friendly_name }} event name
  icon: mdi:card-text-outline

{{ zone.heating_zone_entity_name }}_event_description:
  name: {{ zone.heating_zone_friendly_name }} event description
  icon: mdi:card-text-outline

{{ zone.heating_zone_entity_name }}_setting_reason:
  name: {{ zone.heating_zone_friendly_name }} setting reason
  icon: mdi:card-text-outline
{% if not loop.last %}

{% endif %}
{% endfor -%}
